<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.js"></script>
	<title>问～答</title>
</head>
<body>
	<div class="container">
		<h1 class="page-header">后台管理</h1>
		<h3 class="text text-center text-success">排行榜</h3>
		{% if data.__len__() != 0 %}
	  	<table class="table table-hover">
	  	  <tr>
	  	    <td>排行</td>
	  	  	<td>姓名</td>
	  	  	<td>分数</td>
	  	  </tr>
	  	  {% set i = 0 %}
	  	  {% for rank in data %}
	  	  <tr>
	  	  	  {% set i= i + 1 %}
		  	  <td>{{ i }}</td>
		  	  <td>{{ rank.personname }}</td>
		  	  <td>{{ rank.score }}</td>
	  	  </tr>
		  {% endfor %}
		</table>
		{% else %}
		  <div class="alert alert-danger" role="alert">抱歉，您请求的排行不存在！</div>
		{% endif %}

	</div>
</body>
</html>